.button1 {
  cursor: pointer;
  border-radius: var(--radius);
  //border: 1px solid var(--black);
  background-color: var(--black);
  padding: 8px 16px;
  font: 500 14px/24px var(--font-family);
  color: white;
  width: fit-content;
}

.button1--outlined {
  border: 1px solid var(--stroke);
  background-color: white;
  color: var(--black);
}

.button2 {
  cursor: pointer;
  border-radius: var(--radius);
  padding: 6px 8px;
  font: 500 14px/20px var(--font-family);
  color: var(--black);
}

.button2:hover,
.button2--active {
  background-color: var(--fill);
}

.button3 {
  cursor: pointer;
  border-radius: var(--radius);
  padding: 6px 8px;
  font: 500 14px/20px var(--font-family);
  color: var(--black);
  background-color: var(--fill);
}

.button3--green {
  background-color: var(--green);
  color: white;
  width: fit-content;
}

.button3--red {
  background-color: var(--red);
  color: white;
  width: fit-content;
}

.button3--black {
  background-color: var(--black);
  color: white;
}

.button3--grey {
  background-color: var(--grey);
  color: white;
  width: fit-content;
}

.button-animation {
  transition: transform 0.05s ease-out;
}

.button-animation:active {
  transform: scale(0.95);
}

.button--loading {
  cursor: not-allowed;
  background-image: linear-gradient(
    -45deg,
    transparent 25%,
    rgba(129, 129, 129, 0.75) 50%,
    transparent 75%
  );
  background-size: 500%;
  background-position-x: 100%;
  animation: shimmer 0.9s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.box--shimmer {
  background-image: linear-gradient(
    -45deg,
    transparent 40%,
    rgb(255, 255, 255) 50%,
    transparent 60%
  );
  background-size: 500%;
  background-position-x: 100%;
  animation: shimmer 1s 1 linear;
}
